I. Overview:
    The “Big or Small” game I created is a simplified version of the game Sic Bo 
(also known as tai sai 大細, dai siu 大小). I am new to Python and want to use it 
to practice my programming skills. Moreover, the Random Module that I learned is
suitable for this game. Other modules like numpy, pandas, matplotlib, pickle, etc.
may be used but are basic.

II. About the game:
1.	Game description:
    The staff will roll 3 dice at a time and the players have to guess. 
BIG: The total score will be from 11 to 17 (inclusive) except for a triple
SMALL: The total score will be from 11 to 17 (inclusive) except for a triple
    Each player will have three hearts at the start. If they guess wrong in 
1 round,1 heart will be lost. When the number of hearts is equal to 0, the game 
will stop and update the player record. 
2.	Main Features:
    This game has two main features which are a playground and a record. 
The first feature provides a place where players can enjoy the game and the rest
manages the top 10 players with the most wins.
3.	Importance:
    The record feature needs to make sure that two players have the same record 
the time finished will be considered. One player must have only one record.